:root {
  /* Font families */
  --font-inter: "Inter", sans-serif;
  --font-sfpro: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, sans-serif;

  /* === Headings === */
  --h1-size: 68px;
  --h1-line: 102px;
  --h1-spacing: -4px;

  --h2-size: 56px;
  --h2-line: 84px;
  --h2-spacing: 0px;

  --h3-size: 46px;
  --h3-line: 69px;
  --h3-spacing: 0px;

  --h4-size: 38px;
  --h4-line: 57px;
  --h4-spacing: 0px;

  --h5-size: 32px;
  --h5-line: 48px;
  --h5-spacing: 0px;

  --h6-size: 26px;
  --h6-line: 39px;
  --h6-spacing: 0px;

  --h7-size: 22px;
  --h7-line: 33px;
  --h7-spacing: 0px;

  /* === Body === */
  --b1-size: 18px;
  --b1-line: 27px;

  --b2-size: 16px;
  --b2-line: 24px;

  --b3-size: 14px;
  --b3-line: 21px;

  --b4-size: 12px;
  --b4-line: 18px;
}
