.bg-img {
  background-image: url('/images/Banner.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container {
  /* max-width: 1200px; */
  /* margin: 40px auto; */
  padding: 0 24px;
  padding-top: 20px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
      padding-bottom: 14px;
    border-bottom: 1px solid #E5E5E5;
}

.certificate-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  margin-bottom: 16px;
  border: 1px solid #e6e9f0;
  border-radius: 8px;
  background: #fff;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  font-size: 18px;
  color: #4f46e5;
}

.text {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
}

.download-btn {
  background: #042BFD;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
  transition: all 0.2s ease;
}

.download-btn:hover {
  background: #1e40af;
}